DB_URL=jdbc:postgresql://stockanalyzer_db_begv_user:7g10thpJMQ9B33O1jW1IJZHGB8kEqDYg@dpg-d7urtftb910c73et8ec0-a:5432/stockanalyzer_db_begv?sslmode=require
DB_USERNAME=stockanalyzer_db_begv_user
DB_PASSWORD=7g10thpJMQ9B33O1jW1IJZHGB8kEqDYg
DB_DRIVER=org.postgresql.Driver
DB_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
DDL_AUTO=update
JWT_SECRET=SmartStock2024XyZ9mK3pL7qR1vT5wN8bC2dE6fG0hJ4
ALLOWED_ORIGINS=https://your-app.vercel.app
ENABLE_H2_CONSOLE=false
LOG_LEVEL=INFO
