# Maven build output
target/

# Compiled class files
*.class

# Log files
*.log
logs/

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Spring Boot dev tools
.spring-boot-devtools.properties

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
